@import url("./src/styles/bootstrap.min.css");
@import url('./src/styles/ModalVisit.css');

body {
    background: #f4f9b0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 50px auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2%;
    margin-bottom: 25px;
}

.nav-filter {
    padding: 10px;
    text-align: center;
}

.logo-img {
    width: 59%;
    cursor: pointer;
}

.login {
    display: flex;
    gap: 15px;
}

.button-test {
    cursor: pointer;
}

.button-login,
.button-logout,
.button-test,
.filter {
    position: relative;
    padding: 10px 35px;
    border-radius: 25px;
    border: 2px solid rgb(89, 255, 47);
    background: transparent;
    text-transform: uppercase;
    font-weight: 700;
    color: #1e77ca;
    overflow: hidden;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.button-login:before,
.button-logout::before,
.button-test::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(89, 255, 47);
    top: 0;
    opacity: 0;
    left: -130px;
    border-radius: 0 20px 20px 0;
    z-index: -1;
    transition: all 0.3s ease-in-out;
}

.button-login:hover:before,
.button-logout:hover:before,
.button-test:hover:before {
    left: 0;
    opacity: 1;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tilesWrap {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
    padding: 0;
    list-style: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.li-item {
    /* display: inline-block; */
    width: 20%;
    min-width: 270px;
    max-width: 310px;
    padding: 45px 20px 40px;
    position: relative;
    vertical-align: top;
    margin: 10px;
    font-family: 'helvetica', san-serif;
    min-height: 25vh;
    background: #f4f9b0;
    border: 1px solid #f4f9b0;
    text-align: left;
}
.li-h2 {
    font-size: 45px;
    margin: 0;
    position: absolute;
    opacity: 0.2;
    top: 25px;
    left: 10px;
    text-align: right;
    transition: all 0.3s ease-in-out;
}
.li-h3 {
    font-size: 20px;
    color: #250b83;
    margin-bottom: 5px;
}
.li-text {
    font-size: 16px;
    line-height: 18px;
    color: #250b83;
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
}
.li-button {
    background: transparent;
    border: 1px solid #250b83;
    padding: 10px 20px;
    color: #250b83;
    border-radius: 17px;
    position: relative;
    transition: all 0.3s ease-in-out;
    transform: translateY(-40px);
    opacity: 0;
    cursor: pointer;
    overflow: hidden;
}
.li-button:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 120%;
    background: #b7b7b7;
    top: 0;
    opacity: 0;
    left: -140px;
    border-radius: 0 20px 20px 0;
    z-index: -1;
    transition: all 0.3s ease-in-out;
}
.li-item:hover .li-button {
    transform: translateY(5px);
    opacity: 1;
}
.li-button:hover {
    color: #262a2b;
    border: 1px solid #b7b7b7;
}
.li-button:hover:before {
    left: 0;
    opacity: 1;
}
.li-item:hover .li-h2 {
    margin-top: -25px;
    margin-bottom: 25px;
    opacity: 0.6;
}

.li-item:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    background: #fff;
    transform: skew(2deg, 2deg);
}
.li-item:nth-child(1n):before {
    background: #c9ffbf;
    background: -webkit-linear-gradient(to right, #ffafbd, #c9ffbf);
    background: linear-gradient(to right, #ffafbd, #c9ffbf);
}
.li-item:nth-child(2n):before {
    background: #f2709c;
    background: -webkit-linear-gradient(to right, #ff9472, #f2709c);
    background: linear-gradient(to right, #ff9472, #f2709c);
}
.li-item:nth-child(3n):before {
    background: #c21500;
    background: -webkit-linear-gradient(to right, #ffc500, #c21500);
    background: linear-gradient(to right, #ffc500, #c21500);
}
.li-item:nth-child(4n):before {
    background: #fc354c;
    background: -webkit-linear-gradient(to right, #0abfbc, #fc354c);
    background: linear-gradient(to right, #0abfbc, #fc354c);
}


.regist-wrap,
.login-wrap {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: transparent;

}


.login-wrap,
.regist-wrap,
.logout,
.login,
.button-test
{
    display: none;
}

.show {
    display: flex;
}

.form-container {
    width: 100%;

}

.form-container h2 {
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid rgb(7, 23, 3);
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translate(5%);
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
}

.login-register {
    font-size: 12px;
    margin: 10px;
    text-align: center;
}

.login-register p a {
    text-decoration: none;
    font-weight: 600;
    color: #1e77ca;
}

.login-register p a:hover {
    text-decoration: underline;
}



.modal-login {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    padding: 10px;
    z-index: 10;
    background-color: white;
    border-radius: 25px;
    border: 2px solid rgb(89, 255, 47);
    max-width: 80%;
}

.modal-login.active {
    transform: translate(-50%, -50%) scale(1);
}

.error-login {
    height: 34px;
    color: red;
    transform: translate(-50%, -50%) scale(1);
}

.close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}


#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

/*//   .no-content-hidden {*/
/*     //    display: flex;*/
/*     //    text-align: center;*/
/*     //   }*/

.no-content-hidden,
.no-filter-content-hidden {
    display: none;
}

.li-read-more {
    display: none;
}
.li-read-more-on {
    display: block;
}


