.modalVisit {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 55px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.active-visit {
  display: block;
}

.modalVisit-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  border-radius: 19px;
  width: 55%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modalVisit-header {
  display: flex;
  justify-content: space-between;
  padding: 0 2%;
  background-color: rgb(9, 138, 9);
  border-radius: 17px;
}

.modalVisit-title {
  color: #fefefe;
}

.closeVisit,
.deleteVisit,
.editVisit {
  color: rgb(21, 241, 76);
  font-size: 28px;
  font-weight: bold;
  align-self: start;
}

.closeVisit:hover,
.closeVisit:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.deleteVisit:hover,
.deleteVisit:focus {
  color: #f04c0b;
  text-decoration: none;
  cursor: pointer;
}

.editVisit:hover,
.editVisit:focus {
  color: #f00b89;
  text-decoration: none;
  cursor: pointer;
}

.deleteVisit {
  font-size: 45px;
  position: absolute;
  right: 0;
  top: -25px;
}

.editVisit {
  font-size: 40px;
  position: absolute;
  right: 40px;
  top: -20px;
}

.create-visit {
  padding: 3%;
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}/*# sourceMappingURL=ModalVisit.css.map */